.main-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  width: 100%;
}
.name {
  color: #2b283a;
  font-size: 25px;
}
.job {
  font-size: 12.8px;
  color: #f47d27;
  font-weight: 400;
  margin-top: -10px;
}
.website {
  font-weight: 400;
  color: #4a4e74;
  font-size: 10.24px;
  margin-top: 3px;
}
.email-button,
.linkedin-button {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 30px;
  padding-right: 30px;
  height: 30px;
}
.email-button {
  padding-right: 33px;
  padding-left: 33px;
}
.linkedin-button {
  background: #297fe5;
  color: white;
  border: none;
}
.linkedin-button p {
  padding-left: 2px;
}
.email-button > p {
  padding-left: 10px;
}
.linkedin-icon {
  background: white;
  color: #297fe5;
}
.linkedin-icon p {
  font-weight: bold;
  margin: 0px;
}
.space {
  width: 10px;
}
.button-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.additional-info-block {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 35px;
}
.additional-info-block h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.additional-info-block p {
  margin-top: -10px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 15.36px;
}
